@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Shared Style */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.Color1-for-text{
    color: rgba(58, 58, 58, 1);
}
.color2-for-text{
    color: rgba(58, 58, 58, 1);
}

/* Header Section Styles */

.navbar{
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-top: 87px;
}
.navbar-logo{
    max-width: 243px;
    font-size: 1.5rem;
    font-weight: 700;
}
.navigation{
    max-width: 463px;
    max-height: 36px;
    gap: 34px;
    align-items: center;
    
}
.navigation-list{
    list-style: none;
}
.nav-icons{
    width: 24px;
    height: 24px;
}
.navigation-list a{
    text-decoration: none;
}
/* Banner Style Section */

.banner{
    max-width: 1188px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 140px;
}
.banner-headings{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    font-weight: 600;
}
.btn-primary{
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 56px 10px 24px;
    border: none;
    border-radius: 40px;
}
.banner-img{
    max-width: 475px;
    max-height: 475PX;
    background: url('../images/Circle design.svg') no-repeat center; 
    width: 100%;
}
.banner-img img {
    width: 100%;
   
}


/* Sponsor Section Style */

.sponsor{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1110px;
    justify-content: center;
    margin: 70px auto;
    border-top: 1px solid rgba(192, 204, 218, 0.1);
    border-bottom: 1px solid rgba(192, 204, 218, 0.1);
    padding: 36px;
    
}



@media screen and (max-width:576px) {
    .navbar, .navigation{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 150px;
        
        
    }
    .navigation{
        margin-right: 30px;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;   
        gap: 20px;
    }
    .banner-img{
        order: -1;
        margin-top: 80px;

    }
     .banner-headings{
        order: 1; 
        max-width: 404px;
     }
   .banner-title{
    font-size: 1.75rem;
   }
   .banner-description{
    font-size: 1.43rem;
   }
   .sponsor{
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center; 
   }
}

@media screen and (min-width:576px) and (max-width:992px){
    .navbar, .navigation{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 150px;
    }
    .navigation{
        margin-right: 30px;
        
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 200px;
        margin-top: 200px;
        gap: 10px;
        
    }
    .banner-img{
        order: -1;
        margin-bottom: 0;
        
    }
     .banner-headings{
        order: 1; 
        margin-top: 0;
        
     }
     .sponsor{
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center; 
        margin-left: 80px;
   }
  
}